.white {
    color: white !important;
}

.whiteish {
    color: #e5e5e5 !important;
}

.red {
    color: #dc0a0a !important;
}

.yellow {
    color: #FFC00E !important;
}

.black {
    color: black;
}

.green {
    color: #2cad3c !important;
}